<div class='main-container'>
  <h4 class="about-description">
    Tryppr. is a service that helps you find the ideal
    route for your personal city tour. Simply search for
    your desired city & pick a date - tryppr will then suggest
    the most popular places in the categories culture, shopping
    and night life and let you have your personal pick. After
    you made your choice, it will show you the best, least stressful
    schedule to move around, adapting to opening hours, avoiding
    large crowds, budget, and even the weather.
  </h4>
</div>
