<div class='main-container'>
  <div class="form">
    <input type='text' placeholder="where..." class='where'/>
    <input type='text' placeholder="when..." class='when'/>
  </div>
  <h3>The only Tryppr. you want to get</h3>
</div>
