<div class='main-container'>
  <h3>"Tryppr. in Berlin"</h3>
  <ul class="destinations">
    <li>Brandenburger Tor</li>
    <li>Berliner Mauer</li>
    <li>TV Tower</li>
    <li>Alexa</li>
    <li>Under den Linden</li>
  </ul>
</div>
