<div class='main-container'>
  <h3>"Tryppr. in Berlin"</h3>
  <div class="lists-wrapper">
    <ul class="destinations culture">
      <h2>Culture</h2>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Fernsehturm">
        <label for="desination1">Fernsehturm</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Eastside Gallery">
        <label for="desination1">Eastside Gallery</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Reichstag">
        <label for="desination1">Reichstag</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Brandenburger Tor">
        <label for="desination1">Brandenburger Tor</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Naturkundemuseum">
        <label for="desination1">Naturkundemuseum</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Siegess채ule">
        <label for="desination1">Siegess채ule</label>
      </div>
    </ul>

    <ul class="destinations shopping">
      <h2>Shopping</h2>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="ALEXA">
        <label for="desination1">ALEXA</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Boulevard Berlin">
        <label for="desination1">Boulevard Berlin</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Kuf체rstendamm">
        <label for="desination1">Kuf체rstendamm</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="KdW">
        <label for="desination1">KdW</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Unter den Linden">
        <label for="desination1">Unter den Linden</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Mall of Berlin">
        <label for="desination1">Mall of Berlin</label>
      </div>
    </ul>

    <ul class="destinations nightlife">
      <h2>Nightlife</h2>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Berghain">
        <label for="desination1">Berghain</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Sisyphos">
        <label for="desination1">Sisyphos</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Watergate">
        <label for="desination1">Watergate</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Sage">
        <label for="desination1">Sage</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="Lido">
        <label for="desination1">Lido</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" value="SO36">
        <label for="desination1">SO36</label>
      </div>
    </ul>
  </div>

  <div class="choosen-destinations">
    <h4 class="orange"> You chose: </h4>
  </div>
</div>
