/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
  background-color: #f5f5f5;
  min-width: 500px;
}

header {
  background-color: #293d4f;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 78px;
}

.logo-container {
  font-size: 26px;
  font-weight: 400;
}

.account-image {
  background-image: url('profile.png');
  height: 40px;
  width: 42px;
  background-size: cover;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

a {
  text-decoration: none;
  padding: 20px;
  color: white;
  position: relative;
}
.selected {
  background-color: #13a3d4;
}

.selected::after {
  content: '';
  background-color: #007fb5;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.navbar {
  display: inline-flex;
}

.main-container {
  background-color: #f5f5f5;
  min-height: 700px;
}

h4 {
  color: #293d4f;
  text-align: justify;
  padding:15%;
}
.form {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.hidden {
  display: none;
}

h3 {
  color: #007fb5;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
input {
  height: 30px;
  width: 230px;
  font-size: 15px;
  text-indent: 10px;
  border: 1px solid #f98562;
  margin-right: 1px;
}

.when {
  width: 100px;
}
.login-image {
  background-image: url('login.png');
  height: 159px;
  width: 190px;
  background-size: contain;
  margin: 10px;
  position: absolute;
  top: 44px;
  right: 0;
}

.go, .display-map {
  background-color: #13a3d4;
  border: none;
  border-radius: 2px;
  width: 40px;
  height: 100%;
  text-indent: 0;
  color: white;
}
.display-map {
  height: 10%;
  width: 50%;
  margin: 6px;
  font-size: 13px;
  min-height: 40px;
}

ul {
  background-color: #f98562;
  width: 23%;
  margin: auto;
  padding: 1% 5% 5%;
}

.lists-wrapper, .bottom-wrapper {
  display: flex;
}
label {
  width: 200%;
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.shopping {
  background-color: #13a3d4;
}

.nightlife {
  background-color: #007fb5;
}
li {
  list-style-type: square;
}
.choosen-destinations {
  color: #2a3e50;
  border: 1px solid #2a3e50;
  border-radius: 3px;
  display: block;
  width: 30%;
  padding: 2%;
  margin: 7%;
  height: auto;
}
.orange {
  color: #f98562;
  padding: 2%;
  margin: 0;
}

#map {
  margin: 2em;
  width:570px;
  height:500px;
}
