/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
}

header {
  background-color: #293d4f;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin: 2em;
  color: white;
}

.account-image {
  background-image: url('profile.png');
  height: 40px;
  width: 42px;
  background-size: cover;
  margin: 10px;
}
